<form [formGroup]="contactForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. pat@example.com"
        />
        @if (
            contactForm.get('email')?.hasError('email') &&
            !contactForm.get('email')?.hasError('required')
        ) {
            <mat-error>Please enter a valid email address</mat-error>
        }
        @if (contactForm.get('email')?.hasError('required')) {
            <mat-error>Email is required</mat-error>
        }
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Leave a message</mat-label>
        <textarea
            class="min-h-36 max-h-60"
            formControlName="message"
            matInput
        ></textarea>
    </mat-form-field>
    <button mat-flat-button type="submit">Submit</button>
</form>
