<div
    *ngIf="isLoggedIn()"
    class="shadow-2xl flex md:hidden fixed bottom-0 left-0 z-50 w-full h-16 bg-white"
>
    <div
        class="grid h-full max-w-lg mx-auto font-medium"
        [ngClass]="{ 'grid-cols-4': isManager(), 'grid-cols-2': !isManager() }"
    >
        <button
            routerLink="/dashboard"
            type="button"
            class="bottom-nav-button group"
        >
            <mat-icon>dashboard</mat-icon>
            <span class="text-sm">Dashboard</span>
        </button>
        <button
            routerLink="/vehicles"
            type="button"
            class="bottom-nav-button group"
        >
            <mat-icon>directions_car</mat-icon>
            <span class="text-sm">Vehicles</span>
        </button>
        <button
            *ngIf="isManager()"
            routerLink="/locations"
            type="button"
            class="bottom-nav-button group"
        >
            <mat-icon>location_on</mat-icon>
            <span class="text-sm">Locations</span>
        </button>
        <button
            *ngIf="isManager()"
            routerLink="/drivers"
            type="button"
            class="bottom-nav-button group"
        >
            <mat-icon>group</mat-icon>
            <span class="text-sm">Drivers</span>
        </button>
    </div>
</div>
