<div class="flex h-screen justify-center">
    <div
        class="sign-container w-full h-full md:w-2/3 lg:w-1/3 flex flex-col items-center justify-center"
    >
        <a mat-fab extended routerLink="/" class="floating-button">
            <mat-icon>keyboard_arrow_left</mat-icon>
            Go Home
        </a>
        <ng-content />
    </div>
    <div class="hidden lg:block w-2/3 h-full">
        <img
            src="management.jpg"
            alt="Image Description"
            class="w-full h-full object-cover"
        />
    </div>
</div>
