.add-card {
    background-color: #e4e4e4 !important;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
    @apply flex
  justify-center
  items-center
  w-[300px]
  h-[300px]
  hover:shadow-xl
  active:shadow-md
  transition-all
  duration-300
  ease-in-out;
}

.add-card:hover {
    background-color: #cfcfcf !important;
}

.add-card:active {
    background-color: #b5b5b5 !important;
}
