@import 'variables';

#sidenav {
    transition: width 0.3s ease;
    display: none !important;
}

.menu-open {
    width: 200px;
}

.menu-close {
    width: 80px;
}

@media (min-width: 768px) {
    #sidenav {
        display: flex !important;
    }
}
