<app-sign>
    <h2 class="text-2xl font-bold mb-4">Password Reset</h2>
    <p class="mb-8">Please enter your email address.</p>
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full mb-4">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required />
        </mat-form-field>
        <div class="flex">
            <button mat-raised-button type="submit" class="accent flex-grow">
                Reset password
            </button>
            <button mat-raised-button routerLink="/login">
                <span> Sign in </span>
            </button>
        </div>
    </form>
</app-sign>
