<mat-card
    class="vehicle-card cursor-pointer w-[300px] h-[300px] hover:shadow-xl active:shadow-md transition-all duration-300 ease-in-out"
    appearance="outlined"
>
    <mat-card-header>
        <mat-card-title>
            <span class="font-bold">
                {{ 'Vehicles #' + vehicle.id }}
            </span>
        </mat-card-title>
        <mat-card-subtitle>
            <app-vehicle-card-field
                [fieldValue]="getDriverName()"
                fieldName="Driver"
            />
        </mat-card-subtitle>
    </mat-card-header>
    <hr class="mt-2 mb-2" />
    <mat-card-content>
        <app-vehicle-card-field [fieldValue]="vehicle.vin" fieldName="VIN" />
        <app-vehicle-card-field
            [fieldValue]="vehicle.plateNumber"
            fieldName="Plate Number"
        />
        <app-vehicle-card-field
            [fieldValue]="vehicle.countryCode"
            fieldName="Country Code"
        />
        <app-vehicle-card-field
            [fieldValue]="vehicle.insuranceDate"
            fieldName="Insurance date"
        />
        <app-vehicle-card-field
            [fieldValue]="vehicle.lastInspectionDate"
            fieldName="Last inspection date"
        />
        <app-vehicle-card-field
            [fieldValue]="vehicle.vehicleYear"
            fieldName="Vehicle Year"
        />
    </mat-card-content>
</mat-card>
